@font-face {
  font-family: "Raleway";
  src: url(../fonts/raleway/raleway-800.woff2) format("woff2");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url(../fonts/rubik/rubik-400.woff2) format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url(../fonts/rubik/rubik-700.woff2);
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;

  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;

  min-height: 100%;
  margin: 0;
}

html {
  height: 100%;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.index-main,
.catalog {
  flex-grow: 1;
}

/* button */

.button {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: normal;
  font-weight: 800;
  text-align: center;
  color: #000000;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;

  cursor: pointer;
}

.button-search {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
}

.button-menu {
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  font-weight: 400;
  text-transform: none;
}


/* title */

.title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  color: #000000;
}

/* slider */

.feature-title {
  font-size: 36px;
  color: #000000;
}
